* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

li {
  list-style-type: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

input,
textarea,
button,
input:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none;
}

/***************************/
/*  Styles For Bootstrap  */
/*************************/
h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
}

label {
  margin: 0;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  -webkit-transition: height 0.01s;
  transition: height 0.01s;
}

#collection_carousel {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  min-height: 1px;
}

.carousel-caption {
  top: 0;
  bottom: 0;
  right: 10%;
  left: 10%;
  text-align: left;
}

.carousel-caption .caption_inner {
  padding-top: 76px;
  padding-left: 10%;
}

.carousel-caption .caption_inner .header_1 {
  font-weight: 600;
  margin-bottom: 43px;
}

.carousel-caption .caption_inner .header_2 {
  font-weight: 600;
  letter-spacing: -0.9px;
  margin-bottom: 12px;
}

.carousel-caption .caption_inner .header_5 {
  font-weight: 600;
  letter-spacing: -0.6px;
}

.carousel-caption .caption_inner .header_6 {
  margin-top: 26px;
}

.carousel-caption .caption_inner .brown_btn {
  width: 315px;
  margin-top: 31px;
}

.carousel-indicators {
  bottom: 13%;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
}

.carousel-indicators li.active:after {
  display: block;
  width: 10px;
  height: 10px;
  background: #b31c27;
  border-radius: 50%;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -5px;
  bottom: auto;
}

.carousel-indicators li:before, .carousel-indicators li:after {
  display: none;
}

/**********************************/
/*  End of Styles For Bootstrap  */
/********************************/
.section {
  position: relative;
  text-align: center;
  color: black;
  padding: 10px 0px 45px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.section .header_3 {
  text-transform: uppercase;
}

.section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.before_section_bg:before {
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  bottom: 100%;
  padding: 2.2% 0px;
  width: 100%;
  background: url("../img/bgs/before_section_bg.png") center bottom no-repeat;
  background-size: 100% auto;
}

.red_before_bg:before {
  display: block;
  content: " ";
  position: absolute;
  left: 0;
  bottom: 100%;
  padding: 2.2% 0px;
  width: 100%;
  background: url("../img/bgs/form_bg.png") center bottom no-repeat;
  background-size: 100% auto;
}

.texture_bg {
  background: url("../img/bgs/texture_bg.jpg") center 0 repeat-y;
  background-size: 100% auto;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}

.header_1 {
  font-size: 48px;
}

.header_2 {
  font-size: 38px;
}

.header_3 {
  font-size: 30px;
  font-weight: 600;
}

.header_4 {
  font-size: 24px;
}

.header_5 {
  font-size: 22px;
}

.header_6 {
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: grey;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: grey;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: grey;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: grey;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.brown_btn {
  display: inline-block;
  text-align: center;
  width: 260px;
  color: white;
  letter-spacing: 0.7px;
  line-height: 1;
  background: #b31c27;
  text-transform: uppercase;
  padding: 17px 10px;
  cursor: pointer;
  -webkit-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}

.brown_btn:hover {
  background: #7d141b;
}

.white_btn {
  display: inline-block;
  text-align: center;
  width: 265px;
  color: #b31c27;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 1;
  text-transform: uppercase;
  background: #ffffff;
  padding: 17px 10px;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}

.white_btn:hover, .white_btn:focus {
  color: white;
  background: #7d141b;
  border: 1px solid white;
}

.section .wp-pagenavi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.section .wp-pagenavi a,
.section .wp-pagenavi span {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #b31c27;
  background: white;
  border: 2px solid black;
  padding: 5px 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.section .wp-pagenavi span {
  color: black;
}

.section .wp-pagenavi a:hover {
  border-color: #b31c27;
}
