/*********************/
/* Main Page styles */
/*******************/
/******************/
/* Header styles */
/****************/
header {
  padding-top: 55px;
}

.top_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #b31c27;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 2px 0px black;
  box-shadow: 0px 0px 2px 0px black;
}

.navbar {
  padding: 10px 0px;
}

.main_navigation {
  padding-left: 30px;
}

.main_navigation li a {
  text-transform: uppercase;
  padding: 5px;
}

.main_navigation li a:hover {
  text-decoration: underline;
}

.main_navigation li + li {
  margin-left: 5px;
}

.callback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 18px 4px 10px;
  border-radius: 19px;
  background-color: #232323;
  text-transform: uppercase;
  margin-right: 54px;
  border: 1px solid transparent;
}

.callback i {
  font-size: 30px;
  margin-right: 10px;
}

.callback:hover {
  background: #666666;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.socials a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background: #232323;
  border-radius: 50%;
}

.socials a + a {
  margin-left: 12px;
}

/*************************/
/* End of Header styles */
/***********************/
/******************************/
/* Advantages Section styles */
/****************************/
.advantage_item {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.advantage_item .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 103px;
  height: 103px;
  background-color: #b31c27;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.advantage_item .title {
  color: #222222;
  font-size: 23px;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 14px;
}

.advantage_item p {
  font-size: 17px;
  line-height: 1.58;
  letter-spacing: -0.7px;
}

/*************************************/
/* End of Advantages Section styles */
/***********************************/
/***********************/
/* Gym Section styles */
/*********************/
.gym_section.section {
  padding: 70px 0px 250px;
}

.gym_section {
  background: url("../img/bgs/gym_bg.jpg") center 0 no-repeat;
  background-size: cover;
  color: white;
}

.gym_section img {
  display: block;
  margin-top: 3px;
}

.gym_section .section_text {
  padding-left: 21px;
}

.section_text {
  text-align: left;
}

.section_text .header_3 {
  font-weight: 600;
  margin-bottom: 33px;
  line-height: 1.1;
  letter-spacing: 0.3px;
}

.section_text p {
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: -0.4px;
}

.section_text .brown_btn {
  margin-top: 13px;
  width: 270px;
}

/******************************/
/* End of Gym Section styles */
/****************************/
/******************************/
/* Abonements Section styles */
/****************************/
.abonements_section .header_3 {
  font-weight: 600;
  letter-spacing: 0.3px;
}

.abonements_section .subheader {
  font-weight: 600;
  letter-spacing: -0.3px;
}

.abonement_item {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #b31c27;
  border-radius: 7px;
  padding: 32px 20px 45px;
  color: #232323;
}

.abonement_item .header_4 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.7px;
  margin-bottom: 32px;
}

.abonement_item .header_5 {
  letter-spacing: -0.5px;
}

.abonement_item .price {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-top: 3px;
  margin-bottom: 25px;
}

/*************************************/
/* End of Abonements Section styles */
/***********************************/
/****************************/
/* Crossfit Section styles */
/**************************/
.crossfit_section.section {
  padding: 70px 0px 250px;
}

.crossfit_section {
  background: url("../img/bgs/crossfit_bg.png") center 0 no-repeat;
  background-size: cover;
  color: white;
}

.crossfit_section .section_text {
  padding-right: 21px;
}

.subscribe_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 450px;
  margin-top: 10px;
}

.subscribe_form input {
  width: 290px;
  height: 50px;
  font-size: 18px;
  padding: 16px 23px;
  letter-spacing: 0.3px;
}

.subscribe_form .brown_btn {
  width: 160px;
  height: 50px;
  margin-top: 0;
}

.video_wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  border: 1px solid white;
  border-radius: 9px;
  overflow: hidden;
}

.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***********************************/
/* End of Crossfit Section styles */
/*********************************/
/************************/
/* Form Section styles */
/**********************/
.form_section {
  background-color: #b31c27;
  color: white;
}

.trial_fit_form {
  width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}

.trial_fit_form input {
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 16px 10px;
}

.trial_fit_form input + input {
  margin-top: 18px;
}

.trial_fit_form label {
  margin-top: 7px;
  margin-bottom: 7px;
}

.trial_fit_form .white_btn {
  margin-top: 35px;
}

/*******************************/
/* End of Form Section styles */
/*****************************/
/************************/
/* News Section styles */
/**********************/
.news_section.section {
  padding: 70px 0px 250px;
}

.news_section {
  background: url("../img/bgs/news_bg.jpg") center 0 no-repeat;
  background-size: cover;
  color: white;
}

.news_item {
  width: 360px;
}

.news_item .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.news_item .photo img {
  width: auto;
  height: 100%;
}

.news_item .title {
  margin-top: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.news_item .news_text {
  text-align: justify;
  height: 80px;
  overflow: hidden;
}

.news_item p {
  line-height: 1.6;
  font-weight: 100;
}

.all_news {
  margin-top: 24px;
  display: inline-block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: underline;
}

/*******************************/
/* End of News Section styles */
/*****************************/
/****************************/
/* Contacts Section styles */
/**************************/
.contacts_section.section {
  padding: 10px 0px 0px;
}

.contacts_section .address {
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 40px;
}

.contacts_section .address + .phone {
  margin-top: 10px;
}

.contacts_section .phone {
  display: inline-block;
  color: #b31c27;
  font-size: 37px;
}

.contacts_section .phone:hover {
  color: #b31c27;
  text-decoration: underline;
}

.map {
  width: 100%;
  height: 500px;
  margin-top: 38px;
}

.map > ymaps {
  width: 100%;
  height: 100%;
}

.map .baloon {
  text-align: center;
  padding-top: 5px;
}

/***********************************/
/* End of Contacts Section styles */
/*********************************/
/******************/
/* Footer styles */
/****************/
footer {
  padding: 12px 0px 29px;
  background: #232323;
}

#footer_navigation {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_navigation li {
  margin-left: 2px;
  margin-right: 2px;
}

.footer_navigation li a {
  font-weight: 100;
  padding: 5px;
}

.footer_navigation li a:hover {
  text-decoration: underline;
}

/*************************/
/* End of Footer styles */
/***********************/
#train_modal .modal-dialog {
  width: 710px;
  max-width: none;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}

#train_modal .modal-header {
  border-bottom: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  padding: 35px 15px 20px;
}

#train_modal .modal-header .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

#train_modal .modal-title {
  text-transform: uppercase;
  letter-spacing: -1.5px;
  line-height: 1.1;
}

#train_modal .modal-content {
  background: #b31c27;
  border-radius: 0;
}

#train_modal form {
  width: 100%;
  padding: 17px 115px 52px;
  text-align: center;
}

#train_modal form input {
  text-align: center;
  width: 100%;
  font-size: 21px;
  padding: 21px 10px;
  border-radius: 3px;
}

#train_modal form input + input {
  margin-top: 20px;
}

#train_modal form .white_btn {
  margin-top: 30px;
}

/****************************/
/* End of Main Page styles */
/**************************/
/********************/
/* Gym Page styles */
/******************/
.about_gym_section .wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about_gym_section .photo_item {
  width: 265px;
  height: 168px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.about_gym_section .photo_item img {
  width: 100%;
  height: auto;
}

.trainers_section {
  background: url("../img/bgs/gym_bg.jpg") center 0 no-repeat;
  background-size: cover;
  color: white;
}

/***************************/
/* End of Gym Page styles */
/*************************/
/*********************/
/* News Page styles */
/*******************/
.all_news_section .news_item {
  color: black;
  margin-bottom: 40px;
}

/****************************/
/* End of News Page styles */
/**************************/
/****************************/
/* Single News Page styles */
/**************************/
.single_news {
  margin-top: 30px;
}

.single_news .single_news_photo {
  width: 625px;
  margin-left: 30px;
  margin-bottom: 25px;
  min-height: 1px;
}

.single_news .single_news_photo img {
  width: 100%;
  height: auto;
}

.single_news .title {
  font-size: 27px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 25px;
}

.single_news p {
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 15px;
}

/***********************************/
/* End of Single News Page styles */
/*********************************/
/**********************/
/* Price Page styles */
/********************/
.price_section .nav-tabs {
  margin-top: 25px;
  border-bottom: none;
}

.price_section .nav-tabs li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.price_section .nav-tabs li.small {
  width: 250px;
}

.price_section .nav-tabs li.middle {
  width: 350px;
}

.price_section .nav-tabs li.big {
  width: 480px;
}

.price_section .nav-tabs li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 75px;
  border: 2px solid #b31c27;
  color: #b31c27;
  font-size: 24px;
  font-weight: 600;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 3px;
}

.price_section .nav-tabs li a.active, .price_section .nav-tabs li a:hover {
  color: white;
  background: #b31c27;
  border: 2px solid #b31c27;
}

.price_section .tab-content {
  padding: 30px 0 25px;
}

.price_section .tab-content .description {
  margin-bottom: 55px;
}

.price_section .tab-content .wrapper {
  margin-top: 22px;
  margin-bottom: 15px;
}

.price_section .tab-content .short_block {
  width: 50%;
}

.price_section .train_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px;
  height: 180px;
  font-size: 17px;
  color: white;
  background: #b31c27;
  padding: 18px 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.price_section .train_item .name {
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
}

.price_section .train_item .price {
  font-size: 21px;
}

.price_section .train_item .price.up {
  text-transform: uppercase;
}

.price_section .train_item .white_btn {
  width: 165px;
  padding: 12px 5px;
  margin-top: auto;
  font-size: 16px;
}

.price_section .train_item.introductory_block {
  width: 365px;
  margin-bottom: 0;
}

.price_section .train_item.introductory_block .white_btn {
  width: 260px;
}

.price_section .wrapper {
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.price_section .discount_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 200px;
  height: 160px;
  border: 2px solid #b31c27;
  color: #b31c27;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.price_section .discount_item .amount {
  font-size: 73px;
}

.price_section .discount_item .description {
  margin-top: auto;
}

/*****************************/
/* End of Price Page styles */
/***************************/
/*************************/
/* Schedule Page styles */
/***********************/
.schedule_section .description {
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  margin-top: 38px;
}

.schedule_section table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin-top: 25px;
}

.schedule_section table th {
  width: 12.8%;
  font-size: 18px;
  color: #323232;
  text-transform: uppercase;
  padding: 10px 5px;
}

.schedule_section table th.time {
  width: 10.4%;
}

.schedule_section table th.red {
  color: #b31c27;
}

.schedule_section table td {
  color: white;
  height: 60px;
  padding: 5px;
  text-transform: uppercase;
}

.schedule_section .time {
  color: #323232;
  font-weight: 600;
}

.schedule_section .crossfit {
  background: #b31c27;
}

.schedule_section .crossfit_introductory {
  background: #b31c27;
  background: -webkit-linear-gradient(295deg, #b31c27 0%, #b31c27 50%, #676767 51%, #676767 100%);
  background: linear-gradient(155deg, #b31c27 0%, #b31c27 50%, #676767 51%, #676767 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b31c27', endColorstr='#676767',GradientType=1 );
}

.schedule_section .crossfit_introductory span {
  display: block;
  width: 50%;
  font-size: 15px;
}

.schedule_section .crossfit_introductory span:last-child {
  font-size: 11px;
  margin-top: 10px;
  margin-left: auto;
}

.schedule_section .athletics {
  background: #676767;
}

.schedule_section .open_gym {
  background: #676767;
  border: 2px solid #b31c27;
}

.schedule_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 480px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 35px;
}

.schedule_item .schedule_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 135px;
  height: 60px;
  padding: 5px;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
}

.schedule_item .schedule_btn.athletics {
  font-size: 15px;
}

.schedule_item .text {
  width: 325px;
  text-align: left;
}

.schedule_item .text p {
  font-size: 18px;
}

/********************************/
/* End of Schedule Page styles */
/******************************/
/*************************/
/* Contacts Page styles */
/***********************/
.contacts_section {
  font-size: 25px;
}

.contacts_section i {
  display: block;
  font-size: 53px;
  margin-bottom: 10px;
}

.contacts_section .description {
  margin-top: 30px;
}

.contacts_section .hours,
.contacts_section .address,
.contacts_section .phone_wrapper,
.contacts_section .mails {
  margin-top: 50px;
}

.contacts_section .hours i {
  font-size: 61px;
}

.contacts_section .hours p span {
  font-weight: 600;
  color: #b31c27;
}

.contacts_section .mails p {
  font-weight: 600;
}

.contacts_section .mails p ~ p {
  margin-top: 15px;
}

.contacts_section .mails a {
  font-weight: 600;
  color: #b31c27;
  font-size: 28px;
}

/********************************/
/* End of Contacts Page styles */
/******************************/
