@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/****************************/
/* Main Page Mobile styles */
/**************************/
@media screen and (max-width: 1600px) {
  #collection_carousel {
    height: 650px;
  }
  #collection_carousel .carousel-item img {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 1199px) {
  header {
    padding-top: 45px;
  }
  .navbar {
    padding: 5px 0px;
  }
  .header_1 {
    font-size: 38px;
  }
  .header_2 {
    font-size: 30px;
  }
  .header_3 {
    font-size: 26px;
  }
  .header_4 {
    font-size: 22px;
  }
  .header_5 {
    font-size: 20px;
  }
  .header_6 {
    font-size: 16px;
  }
  .callback {
    width: 47px;
    height: 40px;
  }
  .callback i {
    margin-right: 0;
  }
  .callback span {
    text-indent: -9999px;
  }
  .carousel-indicators {
    bottom: 9%;
  }
  .advantages_section .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .advantage_item {
    width: 290px;
    margin-bottom: 25px;
  }
  .gym_section img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .gym_section .section_text {
    padding-left: 0;
  }
  .abonements_section .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .abonement_item {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .abonement_item .brown_btn {
    width: 230px;
  }
  .crossfit_section .section_text {
    padding-right: 0;
  }
  .news_item {
    width: 290px;
  }
  .map {
    height: 350px;
  }
  #train_modal .modal-dialog {
    width: 550px;
  }
  #train_modal form {
    padding: 17px 70px 52px;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding: 20px 0px 45px;
  }
  .gym_section.section,
  .crossfit_section.section,
  .news_section.section {
    padding: 70px 0px 140px;
  }
  .navbar button {
    width: 45px;
    height: 40px;
    padding: 9px 12px;
    border: 1px solid white;
    cursor: pointer;
  }
  .navbar button span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: white;
  }
  .navbar button span + span {
    margin-top: 5px;
  }
  .navbar button.active {
    background: #7d141b;
  }
  .navbar button.active span {
    background: black;
  }
  #main_navigation {
    width: 150px;
    position: absolute;
    top: 100%;
    left: -15px;
    background: #b31c27;
    z-index: 1000;
  }
  #main_navigation li + li {
    margin-left: 0;
  }
  #main_navigation a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
  }
  #main_navigation a:hover {
    color: black;
    background: white;
    text-decoration: none;
  }
  .main_navigation {
    padding-left: 0;
  }
  #collection_carousel {
    height: 550px;
  }
  .carousel-caption .caption_inner {
    padding-top: 45px;
  }
  .advantage_item .title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .advantage_item p {
    font-size: 15px;
    line-height: 1.2;
  }
  .gym_section .section_text {
    margin-top: 30px;
    text-align: center;
  }
  .gym_section .section_text .header_3 {
    text-align: center;
  }
  .gym_section .section_text p {
    text-align: justify;
  }
  .abonement_item {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 25px 10px;
  }
  .crossfit_section .section_text .header_3 {
    text-align: center;
  }
  .crossfit_section .section_text p {
    text-align: justify;
  }
  .subscribe_form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .trial_fit_form {
    width: 290px;
    margin-top: 30px;
  }
  .trial_fit_form input {
    padding: 12px;
  }
  .trial_fit_form .white_btn {
    width: 230px;
    margin-top: 30px;
  }
  .news_section .wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .news_item {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
  }
  .contacts_section.section {
    padding: 20px 0px 0px;
  }
  .contacts_section .phone {
    font-size: 34px;
  }
  .map {
    height: 300px;
  }
  footer {
    padding: 0px;
  }
  footer .navbar {
    padding: 12px 0px;
  }
  footer .navbar button.active {
    background: black;
  }
  footer .navbar button.active span {
    background: #232323;
  }
  #footer_navigation {
    width: 150px;
    position: absolute;
    bottom: 100%;
    left: -15px;
    background: #232323;
    z-index: 1000;
  }
  #footer_navigation li {
    margin-left: 0;
    margin-right: 0;
  }
  #footer_navigation li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
  }
  #footer_navigation li a:hover {
    color: black;
    background: white;
    text-decoration: none;
  }
  #train_modal .modal-dialog {
    width: 480px;
  }
  #train_modal .modal-header {
    padding: 20px 15px;
  }
  #train_modal form {
    padding: 10px 60px 30px;
  }
  #train_modal form input {
    font-size: 18px;
    padding: 13px 10px;
  }
  #train_modal form .white_btn {
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header_1 {
    font-size: 30px;
  }
  .header_2 {
    font-size: 28px;
  }
  .header_3 {
    font-size: 24px;
  }
  .header_4 {
    font-size: 20px;
  }
  .header_5 {
    font-size: 16px;
  }
  .header_6 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  #collection_carousel {
    height: 450px;
  }
  .carousel-caption .caption_inner {
    padding-top: 30px;
    padding-left: 5%;
  }
  .carousel-caption .caption_inner .header_1 {
    margin-bottom: 5px;
  }
  .carousel-caption .caption_inner .header_2 {
    margin-bottom: 5px;
  }
  .carousel-caption .caption_inner .header_2,
  .carousel-caption .caption_inner .header_5 {
    letter-spacing: 0;
  }
  .advantage_item {
    width: 245px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .advantage_item .photo {
    width: 90px;
    height: 90px;
  }
  .advantage_item .photo img {
    max-width: 65px;
    max-height: 65px;
    width: auto;
    height: auto;
  }
  .section_text p {
    letter-spacing: 0;
  }
  .gym_section .section_text .brown_btn {
    margin-top: 30px;
  }
  .abonements_section .subheader {
    letter-spacing: 0;
  }
  .abonement_item .header_4 {
    letter-spacing: 0;
    margin-bottom: 20px;
  }
  .abonement_item .header_5 {
    letter-spacing: 0;
  }
  .abonement_item .price {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .news_item .news_text {
    height: 65px;
  }
  .contacts_section .address {
    letter-spacing: 0;
  }
  .contacts_section .phone {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .header_1 {
    font-size: 28px;
  }
  .header_2 {
    font-size: 24px;
  }
  .header_3 {
    font-size: 22px;
  }
  .header_4 {
    font-size: 18px;
  }
  .header_5 {
    font-size: 15px;
  }
  .header_6 {
    font-size: 13px;
  }
  .brown_btn {
    padding: 12px;
    font-size: 14px;
  }
  .white_btn {
    padding: 12px;
    font-size: 14px;
  }
  .callback {
    margin-right: auto;
    margin-left: auto;
  }
  #collection_carousel {
    height: 300px;
  }
  .carousel-caption {
    padding-top: 10px;
    right: 5px;
    left: 5px;
  }
  .carousel-caption .caption_inner {
    padding-top: 5px;
    padding-left: 0;
    text-align: center;
  }
  .carousel-caption .caption_inner .header_6 {
    margin-top: 15px;
  }
  .carousel-caption .caption_inner .brown_btn {
    width: 255px;
    margin-top: 15px;
  }
  .carousel-indicators {
    bottom: 4%;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
  }
  .carousel-indicators li.active:after {
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
  }
  .section {
    padding: 30px 0px 40px;
  }
  .gym_section.section,
  .crossfit_section.section,
  .news_section.section {
    padding: 70px 0px 90px;
  }
  .subscribe_form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .subscribe_form input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .subscribe_form .brown_btn {
    margin-left: auto;
    margin-right: auto;
  }
  .contacts_section .phone {
    font-size: 25px;
  }
  #train_modal .modal-dialog {
    width: 300px;
  }
  #train_modal .modal-header {
    padding: 20px 30px 20px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #train_modal .modal-header .header_3 {
    font-size: 16px;
    letter-spacing: 0px;
  }
  #train_modal form {
    padding: 0px 15px 25px;
  }
  #train_modal form input {
    font-size: 16px;
    padding: 10px;
  }
  #train_modal form .white_btn {
    width: 225px;
  }
}

/***********************************/
/* End of Main Page Mobile styles */
/*********************************/
/****************************/
/* News Page Mobile styles */
/**************************/
@media screen and (max-width: 991px) {
  .section .wp-pagenavi a,
  .section .wp-pagenavi span {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .section .wp-pagenavi a,
  .section .wp-pagenavi span {
    font-size: 18px;
  }
  .all_news_section .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/***********************************/
/* End of News Page Mobile styles */
/*********************************/
/***********************************/
/* Single News Page Mobile styles */
/*********************************/
@media screen and (max-width: 1199px) {
  .single_news .single_news_photo {
    width: 515px;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .single_news .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .single_news p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  .single_news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .single_news .title {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    text-align: center;
  }
  .single_news .single_news_photo {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .single_news {
    margin-top: 15px;
  }
  .single_news .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .single_news .single_news_photo {
    margin-bottom: 10px;
  }
}

/******************************************/
/* End of Single News Page Mobile styles */
/****************************************/
/*****************************/
/* Price Page Mobile styles */
/***************************/
@media screen and (max-width: 1199px) {
  .price_section .nav-tabs li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .price_section .nav-tabs li a {
    font-size: 20px;
  }
  .price_section .nav-tabs li.small {
    width: 200px;
  }
  .price_section .nav-tabs li.middle {
    width: 300px;
  }
  .price_section .nav-tabs li.big {
    width: 400px;
  }
  .price_section .tab-content {
    padding: 25px 0 10px;
  }
  .price_section .tab-content .short_block {
    width: 100%;
  }
  .price_section .tab-content .description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .price_section .nav-tabs li a {
    font-size: 16px;
    height: 60px;
  }
  .price_section .nav-tabs li.small, .price_section .nav-tabs li.middle {
    width: 335px;
  }
  .price_section .nav-tabs li.big {
    width: 100%;
  }
  .price_section .header_5 br {
    display: none;
  }
  .price_section .discount_item .amount {
    font-size: 65px;
  }
}

@media screen and (max-width: 767px) {
  .price_section .nav-tabs li a {
    font-size: 14px;
    height: 50px;
  }
  .price_section .nav-tabs li.small, .price_section .nav-tabs li.middle {
    width: 245px;
  }
  .price_section .train_item {
    width: 245px;
    height: 175px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .price_section .train_item .name {
    font-size: 22px;
  }
  .price_section .train_item .price {
    font-size: 16px;
    margin-top: 5px;
  }
  .price_section .train_item.introductory_block {
    width: 300px;
  }
  .price_section .discount_item {
    width: 195px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px 15px 20px;
  }
  .price_section .discount_item .amount {
    font-size: 50px;
  }
}

@media screen and (max-width: 575px) {
  .price_section .nav-tabs li {
    margin-bottom: 5px;
  }
  .price_section .nav-tabs li a {
    font-size: 13px;
    height: 45px;
  }
  .price_section .nav-tabs li.small, .price_section .nav-tabs li.middle {
    width: 100%;
  }
  .price_section .tab-content .description {
    margin-bottom: 20px;
  }
}

/************************************/
/* End of Price Page Mobile styles */
/**********************************/
/********************************/
/* Contacts Page Mobile styles */
/******************************/
@media screen and (max-width: 1199px) {
  .contacts_section {
    font-size: 22px;
  }
  .contacts_section .phone {
    font-size: 33px;
  }
  .contacts_section .mails a {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .contacts_section {
    font-size: 18px;
  }
  .contacts_section i {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .contacts_section .hours i {
    font-size: 50px;
  }
  .contacts_section .phone {
    font-size: 26px;
  }
  .contacts_section .mails a {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .contacts_section {
    font-size: 16px;
  }
  .contacts_section .hours,
  .contacts_section .address,
  .contacts_section .phone_wrapper,
  .contacts_section .mails {
    margin-top: 25px;
  }
  .contacts_section i {
    font-size: 30px;
  }
  .contacts_section .hours i {
    font-size: 40px;
  }
  .contacts_section .phone {
    font-size: 22px;
  }
  .contacts_section .mails a {
    font-size: 18px;
  }
}

/***************************************/
/* End of Contacts Page Mobile styles */
/*************************************/
